n8n/leoleo2 (1).json
{
  "name": "leoleo2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f-ckspedtrans-data",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*",
          "responseCode": {
            "values": {}
          },
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -976,
        336
      ],
      "id": "4ef72018-74ac-40d4-b287-71eb212f74fe",
      "name": "Webhook",
      "webhookId": "debae9a5-87e0-4f9a-9552-09e34c89af50",
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XIDxYn3nZujNYfIVe5kmosQwtDpdwxbFrb9R2z6i4sg",
          "mode": "list",
          "cachedResultName": "SPEDZIK",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XIDxYn3nZujNYfIVe5kmosQwtDpdwxbFrb9R2z6i4sg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XIDxYn3nZujNYfIVe5kmosQwtDpdwxbFrb9R2z6i4sg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LEO": "={{ $json.leo }}"
          },
          "matchingColumns": [
            "zleceniodawca_nip"
          ],
          "schema": [
            {
              "id": "zleceniodawca_nazwa",
              "displayName": "zleceniodawca_nazwa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "zleceniodawca_nip",
              "displayName": "zleceniodawca_nip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "zleceniodawca_kod_pocztowy",
              "displayName": "zleceniodawca_kod_pocztowy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cena_eur",
              "displayName": "cena_eur",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "zaladunek_kod",
              "displayName": "zaladunek_kod",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "zaladunek_miasto",
              "displayName": "zaladunek_miasto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "zaladunek_ulica",
              "displayName": "zaladunek_ulica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rozladunek_kod",
              "displayName": "rozladunek_kod",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rozladunek_miasto",
              "displayName": "rozladunek_miasto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rozladunek_ulica",
              "displayName": "rozladunek_ulica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "numer_zlecenia",
              "displayName": "numer_zlecenia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "webviewlink",
              "displayName": "webviewlink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sped/stol",
              "displayName": "sped/stol",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LEO",
              "displayName": "LEO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "KM",
              "displayName": "KM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_roz",
              "displayName": "data_roz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_zal",
              "displayName": "data_zal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "wiadomosc_dla_kierowcy",
              "displayName": "wiadomosc_dla_kierowcy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {}
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        -32
      ],
      "id": "b33d15e2-a567-4969-bf25-0bacb3a1476a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kGl8mRMLyHQE8xrL",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\n\nlet rawText = \"\";\nif (inputData.content && inputData.content.parts && inputData.content.parts[0]) {\n    rawText = inputData.content.parts[0].text;\n} else if (inputData.text) {\n    rawText = inputData.text;\n} else if (inputData.output) {\n    rawText = inputData.output;\n}\n\nconst jsonMatch = rawText.match(/\\{[\\s\\S]*\\}/);\nlet aiData = {};\n\nif (jsonMatch) {\n    try {\n        aiData = JSON.parse(jsonMatch[0]);\n    } catch (e) {\n        return { error: \"Błąd parsowania\", raw: rawText };\n    }\n} else {\n    return { error: \"Nie znaleziono JSONa w tekście\", raw: rawText };\n}\n\nlet webhookData = {};\ntry { webhookData = $('Webhook').first().json; } catch(e) {}\n\nlet link = \"\";\ntry { link = $('Upload file').first().json.webViewLink || \"\"; } catch(e) {}\n\nconst formatField = (list, field, prefix) => {\n    if (!Array.isArray(list)) return \"\";\n    return list.map((item, i) => `${prefix} ${i + 1}: ${item[field] || ''}`).join('\\n');\n};\n\nreturn {\n    zleceniodawca_nip: aiData.zleceniodawca_nip || \"\",\n    zleceniodawca_nazwa: aiData.zleceniodawca_nazwa || \"\",\n    cena_eur: aiData.cena_eur || \"\",\n    data_zal: aiData.data_zal || \"\",\n    data_roz: aiData.data_roz || \"\",\n    zaladunek_kod: formatField(aiData.zaladunki, 'kod', 'ZAL'),\n    zaladunek_miasto: formatField(aiData.zaladunki, 'miasto', 'ZAL'),\n    zaladunek_ulica: formatField(aiData.zaladunki, 'ulica', 'ZAL'),\n    rozladunek_kod: formatField(aiData.rozladunki, 'kod', 'ROZ'),\n    rozladunek_miasto: formatField(aiData.rozladunki, 'miasto', 'ROZ'),\n    rozladunek_ulica: formatField(aiData.rozladunki, 'ulica', 'ROZ'),\n    numer_zlecenia: aiData.numer_zlecenia || \"\",\n    \n    webviewlink: link || webhookData.body?.webviewlink || webhookData.query?.webviewlink || \"\",\n    LEO: webhookData.body?.leo || webhookData.query?.leo || \"\",\n    \"sped/stol\": webhookData.body?.spedytor || webhookData.query?.spedytor || \"AW\",\n    KM: webhookData.body?.km || webhookData.query?.km || \"\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        320
      ],
      "id": "4829c309-a11f-4668-a3b3-212c935c52e7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "inputDataFieldName": "pdf",
        "name": "={{ $json.body.firma }}_{{ $json.body.leo }}_{{ $now.toFormat('yyyyMMdd_HHmm') }}.pdf",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1LZurM2TMHoIJrio50YJMGaCH4CxbrHnX",
          "mode": "list",
          "cachedResultName": "ZLECENIA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1LZurM2TMHoIJrio50YJMGaCH4CxbrHnX"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -608,
        192
      ],
      "id": "78939235-563b-4dbd-a0a4-a5fe61cfd9af",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GWE3Hen45alirbUe",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -144,
        32
      ],
      "id": "abba856b-c84a-4671-8a89-a8f439396f70",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -48,
        -288
      ],
      "id": "b24fb351-537f-4450-81d2-8046959d4108",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// Pobieramy dane bezpośrednio z węzła Webhook\nconst webhook = $('Webhook').first().json;\n\nreturn {\n  leo: webhook.query?.leo || \"\",\n  spedytor: webhook.query?.spedytor || \"\",\n  km: webhook.body?.km || \"\",\n  cena: webhook.body?.cena || \"\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        -48
      ],
      "id": "ace849bc-cb53-49d2-8e11-7da392d98aef",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        416,
        -32
      ],
      "id": "ff355a8f-fc77-4829-a8ff-f3db08e98b98",
      "name": "Merge2"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Jesteś ekspertem spedycyjnym. Przeanalizuj wizualnie załączone zlecenie (może być po słowacku, czesku lub polsku). \nDziałaj według klucza:\n- Zleceniodawca (Objednávateľ) to firma zamawiająca.\n- Nakládka = Załadunek, Vykládka = Rozładunek.\n- Prepravné / Cena = Cena.\n\nWyciągnij dane i zwróć WYŁĄCZNIE czysty JSON:\n{\n  \"numer_zlecenia\": \"numer po 'Objednávka'\",\n  \"zleceniodawca_nazwa\": \"pełna nazwa Objednávateľa\",\n  \"zleceniodawca_nip\": \"NIP / IČ DPH zleceniodawcy\",\n  \"cena_eur\": \"sama liczba (np. 450)\",\n  \"towar_opis\": \"rodzaj towaru\",\n  \"waga\": \"waga ładunku (np. 1770 kg)\",\n  \"wymiary\": \"wymiary lub ilość sztuk/palet\",\n  \"data_zal\": \"data załadunku w formacie DD.MM.YYYY\",\n  \"data_roz\": \"data rozładunku w formacie DD.MM.YYYY\",\n  \"zaladunki\": [{ \"kod\": \"\", \"miasto\": \"\", \"ulica\": \"\", \"godzina\": \"godzina lub okno czasowe\" }],\n  \"rozladunki\": [{ \"kod\": \"\", \"miasto\": \"\", \"ulica\": \"\", \"godzina\": \"godzina lub okno czasowe\" }]\n}",
        "inputType": "binary",
        "binaryPropertyName": "pdf",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -608,
        448
      ],
      "id": "c4b2478d-34f5-44da-afc8-ee0a88edea96",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "auNbUBiLJt4SC8FY",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Przeformatuj poniższe dane spedycyjne w czytelną wiadomość dla kierowcy.\n\nDANE Z PDF (wyciągnięte przez poprzedni model):\n{{ $input.first().json.text || $input.first().json.output || $input.first().json.content.parts[0].text }}\n\nDANE Z FORMULARZA (WWW):\nPojazd: {{ $('Webhook').first().json.body?.leo || $('Webhook').first().json.query?.leo }}\nKM: {{ $('Webhook').first().json.body?.km || $('Webhook').first().json.query?.km }}\n\nWZÓR DO NAŚLADOWANIA:\nZLECENIE TRANSPORTOWE: [Numer zlecenia]\nPojazd: [Pojazd z formularza] Ładunek: [Rodzaj ładunku] Waga: [Waga] Wymiary: [Wymiary/ilość palet]\n\n1. ZAŁADUNEK\nData: [Data]\nGodzina: [Godzina lub okno czasowe]\nFirma: [Nazwa firmy]\nAdres: [Pełny adres]\nGPS: [Jeśli są koordynaty, wpisz. Jeśli nie - usuń tę linijkę]\n\n2. ROZŁADUNEK\nData: [Data]\nGodzina: [Godzina lub okno czasowe]\nFirma: [Nazwa firmy]\nAdres: [Pełny adres]\nGPS: [Jeśli są koordynaty, wpisz. Jeśli nie - usuń tę linijkę]\n\nkm: [KM z formularza]\n\nZwróć TYLKO gotowy tekst wiadomości, bez żadnych wstępów, komentarzy i znaczników markdown.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        304
      ],
      "id": "bc68cb37-93b3-499a-988a-1bb4cefc3dbe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        96,
        512
      ],
      "id": "0c664430-6003-4a88-bb37-79ef63e61dde",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "86w9YPuhaPIkPXD0",
          "name": "Azure Open AI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1e260cbb-d724-4aca-a724-a39143a92b03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "31b97d7c9fbaadd4f101c587b4a29e021c62a755afe6818241fc0ef22c432ce3"
  },
  "id": "gaskLYbk20VYLc9c",
  "tags": []
}